$font-color: #c7c7c7;
$background-color:#000;


/* ? Template Grays... */
$dark-grey:#262626;
$med-dark-grey:#595959; //-- Med Dark Grey
$med-grey:#A6A6A6; //-- Med Grey
$med-light-grey:#BFBFBF;// -- Med Light Grey
$light-grey: #F2F2F2; //-- Light Grey   


// ? Template Colors
$bright-purple: #8731e8;
$theme-blue: #0A6AA6;

// ? Font family
$theme-font: le-monde-livre-std, serif;