<main class="container">
    <div class="block form">
        <div class="inserted" *ngIf="!(auth.currentUser)">

            <h2>Please register for the club.</h2>
            <p>We are excited to share our experiences with you.</p>
            <!-- <button mat-raised-button appGoogleSignin>login with google</button>
            <p>or</p> -->
            <app-email-login></app-email-login>
        </div>


        <div class="inserted" *ngIf="(auth.currentUser)">
            <p>
                Logged in as <strong>{{ auth.currentUser?.email }}</strong>
            </p>
            <div class="button-row">
                <button mat-raised-button color="primary" routerLink="/dashboard">dashboard</button>
                <button mat-stroked-button (click)="logout()">Logout</button>
            </div>

        </div>
    </div>


</main>