<mat-card [formGroup]="parent">
    <div formGroupName="platforms">
        <h4>Select your platforms:</h4>
        <div class="checkboxes">
            <mat-checkbox formControlName="netflix">Netflix</mat-checkbox>
            <mat-checkbox formControlName="hulu">Hulu</mat-checkbox>
            <mat-checkbox formControlName="disney">Disney +</mat-checkbox>
            <mat-checkbox formControlName="prime">Amazon Prime</mat-checkbox>
            <mat-checkbox formControlName="hbo">HBO Max</mat-checkbox>
            <mat-checkbox formControlName="peacock">Peacock</mat-checkbox>
            <mat-checkbox formControlName="paramount">Paramount +</mat-checkbox>
            <mat-checkbox formControlName="showtime">Showtime</mat-checkbox>
            <mat-checkbox formControlName="apple">Apple TV+</mat-checkbox>
            <mat-checkbox formControlName="discovery">Discovery +</mat-checkbox>
            <mat-checkbox formControlName="britbox">Britbox</mat-checkbox>
            <mat-checkbox formControlName="acorn">Acorn</mat-checkbox>
            <mat-checkbox formControlName="pluto">Pluto TV</mat-checkbox>
            <mat-checkbox formControlName="amc">AMC+</mat-checkbox>
            <mat-checkbox formControlName="epix">Epix</mat-checkbox>
            <mat-checkbox formControlName="hallmark">Hallmark</mat-checkbox>
            <mat-checkbox formControlName="starz">Starz</mat-checkbox>
        </div>
    </div>
</mat-card>