<div class="container">
    <h2>User Profile</h2>
    <p>please complete your profile.</p>

    <div mat-card>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <mat-form-field [color]="f_name?.valid && 'accent'">
                <input matInput formControlName="f_name" type="text" placeholder="First Name" autocomplete="off" />
                <mat-error *ngIf="f_name?.dirty || f_name?.touched">
                    First name is required
                </mat-error>
            </mat-form-field>
            <mat-form-field [color]="l_name?.valid && 'accent'">
                <input matInput formControlName="l_name" type="text" placeholder="Last Name" autocomplete="off" />
                <mat-error *ngIf="l_name?.dirty || l_name?.touched">
                    First name is required
                </mat-error>
            </mat-form-field>
            <mat-form-field [color]="email?.valid && 'accent'">
                <input matInput formControlName="email" type="email" placeholder="Email" autocomplete="off" />
                <mat-error *ngIf="email?.dirty || email?.touched">
                    You must enter a valid email address
                </mat-error>
            </mat-form-field>

            <mat-form-field [color]="phone?.valid && 'accent'">
                <input matInput formControlName="phone" type="text" placeholder="Phone number" autocomplete="off" />
                <mat-error *ngIf="phone?.dirty || phone?.touched">
                    You must enter a valid phone number
                </mat-error>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Enter your Birthdate</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="birthday">
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>

            <mat-error class="server-error">{{ serverMessage }}</mat-error>

            <button mat-stroked-button type="submit" [disabled]="loading">
                update profile
            </button>
        </form>
    </div>

</div>