<div [formGroup]="parent" class="content">
    <mat-form-field [color]="phone?.valid && 'accent'">
        <input matInput formControlName="phone" type="text" placeholder="Phone number" autocomplete="off" />
        <mat-error *ngIf="phone?.dirty || phone?.touched">
            You must enter a valid phone number
        </mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Enter your Birthdate</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="birthday">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
</div>