<mat-toolbar>
    <mat-toolbar-row color="primary">
        <span>user profile</span>
    </mat-toolbar-row>
</mat-toolbar>
<div class="container">
    <div *ngIf="profileComplete === false">
        <p>please complete your profile.</p>

        <mat-card class="profile-card">
            <mat-list>
                <mat-list-item>
                    <p>First Name: {{member?.f_name}} </p>
                </mat-list-item>
                <mat-list-item>
                    <p>Last Name: {{member?.l_name}}</p>
                </mat-list-item>
                <mat-list-item>
                    <p>Email Address: {{member?.email}}</p>
                </mat-list-item>
                <mat-list-item>
                    <p>Phone: {{member?.phone}}</p>
                </mat-list-item>
                <mat-list-item>
                    <p>Birthday: {{member?.birthday}}</p>
                </mat-list-item>
                <mat-list-item>
                    <p>Role: {{member?.role}}</p>
                </mat-list-item>

                <button mat-raised-button (click)="editProfile()">edit profile</button>
            </mat-list>


            <!-- <form [formGroup]="form" (ngSubmit)="onSubmit()">
                <user-profile [parent]="form"></user-profile>

                <platform-selector [parent]="form"></platform-selector>


                <div class="button-row">
                    <button mat-button type="submit" [disabled]="form.invalid || loading">update profile</button>
                </div>

                <mat-error class="server-error">{{ serverMessage }}</mat-error>
            </form> -->
        </mat-card>
    </div>
    <div *ngIf="profileComplete == true">
        welcome to the show!

    </div>
</div>