
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
// TODO Add $custom-typography: mat-typography-config($font-family: 'ADOBE CUSTOM FONT'
// ! be sure to inject into @include mat.core($custom-typography)
@include mat.core();

//  TODO add $custom-color-palette here

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
// TODO inject $custom-color-palette into $dash-starter-primary and other definitions
$dash-starter-primary: mat.define-palette(mat.$indigo-palette);
$dash-starter-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$dash-starter-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$dash-starter-theme: mat.define-light-theme((
  color: (
    primary: $dash-starter-primary,
    accent: $dash-starter-accent,
    warn: $dash-starter-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($dash-starter-theme);

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: 'Century Gothic', "Helvetica Neue", sans-serif; }
form {
    flex-direction: column;
    display: flex;
    width: 75%;
    align-items: center;
   margin: auto;
}